<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med Tech - EMR</title>


    <link rel="shortcut icon" href="/assets/svg/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/assets/css/utils.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/table.min.css">
    <link rel="stylesheet" href="/assets/icons/themify-icons.css">

    <script src="/js/libraries/jquery-3.5.1.js"></script>
    <script src="/js/libraries/jquery.dataTables.min.js"></script>

    <script src="/js/libraries/chart.js"></script>
    <script src="/js/libraries/jspdf.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="main">

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar-logo">
                    <img src="/assets/svg/512x512.png" alt="" class="app-logo">
                    <span style="margin-inline-start: .6rem;color: #fff;font-family: 'Tilt Neon';font-weight: bolder;font-size: 27px;"><span style="color: rgb(0, 208, 255);">Med</span> <span style="color: yellowgreen;">Tech</span></span>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-item">
                        <a href="/admin/dashboard">
                            <span class="flex">
                                <span class="flex"><img src="/assets/actions-admin/dashboard.png" alt="" class="icon"><span class="text">Dashboard</span></span>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="/admin/accounts">
                            <span class="flex">
                                <span class="flex"><img src="/assets/actions-admin/user.png" alt="" class="icon"><span class="text">Accounts</span></span>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/admin/dashboard">
                            <span class="flex">
                                <span class="flex"><img src="/assets/actions-admin/inventory.png" alt="" class="icon"><span class="text">Inventory</span></span>
                            </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/admin/dashboard">
                            <span class="flex">
                                <span class="flex"><img src="/assets/actions-admin/reports.png" alt="" class="icon"><span class="text">Reports</span></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Main section -->
            <div class="content admin">

                <!-- Navbar -->
                <div class="navbar">
                    <nav>
                        <ul class="nav-links flex">
                            <img src="/assets/svg/cancel.png" alt="" id="sidebar-toggler" class="sidebar-toggler" style="block-size: 32px;inline-size: 32px;">
                            <div class="dropdown">
                                <div class="flex">
                                    <img src="/assets/img/profiledefault.png" alt="" class="dropdown-avatar" id="toggle-dropdown">
                                    <img src="/assets/svg/bell.png" alt="">
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu">
                                    <ul class="dropdown-items">
                                        <li class="dropdown-item header">
                                            <span id="user-fullname-label"><%= data.user.username.charAt(0).toUpperCase() + data.user.username.slice(1) %></span>
                                            <br>
                                            <small id="user-email-label">admin@coire.live</small>
                                        </li>
                                        <li class="dropdown-item"><i class="ti-settings"></i> <a href="#">Settings</a></li>
                                        <li class="dropdown-item"><i class="ti-user"></i> <a href="#">My Profile</a></li>
                                        <li class="dropdown-item"><i class="ti-info-alt"></i> <a href="#">About</a></li>
                                        <li class="dropdown-item footer" id="signout-cta"><span>Sign Out</span></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>

                <!-- Section 00 -->
                <div class="sections br-0 inview" id="section_00">
                    <div class="section-header flex">
                        <div class="flex left"></div>
                        <div class="ctas">
                            <button class="btn section-header-cta modal-trigger" id="open-create-user-modal-btn" data-modal="create-user-modal"> <i class="ti-plus"></i> New User</button>
                        </div>
                    </div>
                    <div class="section-body" style="padding-block-start: .8rem;">
                        <h2 class="special-heading">All Users</h2>
                        <div class="filter-section">
                            <div class="date-range-picker flex">
                                <div class="form-group flex flex-column">
                                    <label for="min-date">From:</label>
                                    <input type="date" name="from" id="min-date" class="date-range-filter">
                                </div>
                                <div class="form-group flex flex-column">
                                    <label for="max-date">To:</label>
                                    <input type="date" name="to" id="max-date" class="date-range-filter">
                                </div>
                            </div>
                        </div>
                        <table id="all-users-table" class="display" style="width:100%;margin-top:.5rem;">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Account Status</th>
                                    <th>Actions</th>
                                    <th>Last Login</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Section 01 -->
                <div class="sections br-0" id="section_01">
                    <div class="section-header flex" style="border-block-end: 0;"></div>
                    <div class="section-body" style="padding-block-start: .8rem;"></div>
                </div>

                <!-- Section 02 -->
                <div class="sections br-0" id="section_02">
                    <div class="section-header flex" style="border-block-end: 0;"></div>
                    <div class="section-body" style="padding-block-start: .8rem;"></div>
                </div>

                <!-- Bottom banner -->
                <div class="bottom-banner">
                    <div class="banner-content">
                        <div class="banner-content-left">
                            <span class="logged-in-as-label">Logged in as: <span class="logged-in-as-value"> <%= data.user.username.charAt(0).toUpperCase() + data.user.username.slice(1) %> </span></span>
                        </div>
                        <div class="banner-content-right">
                            <span class="system-version-label">System version: <span class="system-version-value"> 1.0.0 </span></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create user modal -->
            <div id="create-user-modal" class="form-modal">
                <div class="form-modal-content">
                    <form class="modal-form" id="create-user-form">
                        <div class="form-modal-header flex">
                            <div class="form-modal-header-left flex">
                                <img src="/assets/actions-admin/user.png" alt="" class="icon">
                                <h2 class="title">Create New User</h2>
                            </div>
                            <span class="form-modal-header-right icon-wrapper close-modal-btn"><i class="ti-close icon"></i></span>
                        </div>
            
                        <div class="modal-form-body" id="create-user-form-body">
                            <div class="form-section">
                                <h2>Account Information</h2>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="text" id="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select id="role" class="form-control" name="roleId" required>
                                        <option value="2">Admin</option>
                                        <option value="3">Doctor</option>
                                        <option value="4">Nurse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-modal-footer flex">
                            <button class="btn btn-primary" type="submit">Cancel</button>
                            <button class="btn btn-primary btn-save submit-btn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Create doctor profile modal -->
            <div id="create-doctor-profile-modal" class="form-modal">
                <div class="form-modal-content">
                    <form class="modal-form" id="create-doctor-profile-form">
                        <div class="form-modal-header flex">
                            <div class="form-modal-header-left flex">
                                <img src="/assets/actions-admin/user.png" alt="" class="icon">
                                <h2 class="title">Create Doctor Profile</h2>
                            </div>
                            <span class="form-modal-header-right icon-wrapper close-modal-btn"><i class="ti-close icon"></i></span>
                        </div>
            
                        <div class="modal-form-body" id="create-doctor-profile-form-body">
                            <div class="form-section">
                                <h2>Account Information</h2>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="text" id="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select id="role" class="form-control" name="roleId" required>
                                        <option value="1">Admin</option>
                                        <option value="2">Doctor</option>
                                        <option value="3">Nurse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-modal-footer flex">
                            <button class="btn btn-primary" type="submit">Cancel</button>
                            <button class="btn btn-primary btn-save submit-btn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>    
            
            <!-- Create nurse profile modal -->
            <div id="create-nurse-profile-modal" class="form-modal">
                <div class="form-modal-content">
                    <form class="modal-form" id="create-nurse-profile-form">
                        <div class="form-modal-header flex">
                            <div class="form-modal-header-left flex">
                                <img src="/assets/actions-admin/user.png" alt="" class="icon">
                                <h2 class="title">Create Nurse Profile</h2>
                            </div>
                            <span class="form-modal-header-right icon-wrapper close-modal-btn"><i class="ti-close icon"></i></span>
                        </div>
            
                        <div class="modal-form-body" id="create-nurse-profile-form-body">
                            <div class="form-section">
                                <h2>Account Information</h2>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="text" id="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select id="role" class="form-control" name="roleId" required>
                                        <option value="1">Admin</option>
                                        <option value="2">Doctor</option>
                                        <option value="3">Nurse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-modal-footer flex">
                            <button class="btn btn-primary" type="submit">Cancel</button>
                            <button class="btn btn-primary btn-save submit-btn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>             
        </div>
    </div>

    <script src="/js/libraries/moment.min.js"></script>
    <script src="/js/tinymce/js/tinymce/tinymce.min.js"></script>

    <!-- Load modules -->
    <script type="module" src="/js/core/ui.js"></script>
    <script type="module" src="/js/modules/accounts.js"></script>
    
</body>
</html>