.auth-card {
  width: 100%;
}

.auth-card * {
  width: 100%;
}

.auth-card-title {
  font-weight: unset;
}

.auth-form .form-group {
  margin-bottom: .3rem;
}

.auth-form .form-group.flex {
  flex-direction: column;
}

.auth-form .form-group label {
  width: 100%;
}

.auth-form  button.btn {
  background-color: var(--primary-color);
  padding-block: .8rem;
}

.auth-form  button.btn:hover {
  background-color: var(--primary-color-dark);
  opacity: .6;
}

.auth-form .form-group input {
  border: 1px solid var(--primary-color);
  border-radius: .2rem;
  width: 100%;
  padding: .6rem .6rem;
  font-size: large;
  background-color: var(--accent-color);
  opacity: .8;
  color: #ccc;
}

.auth-form .form-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--theme-color) inset;
  -webkit-text-fill-color: #ccc;
  background-color: var(--theme-color) !important;
}

.auth-form .form-group input[type='password'] {
  letter-spacing: .2rem;
  font-weight: bold;
}

.auth-form .form-group input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.auth-card-actions {
  margin: .6rem 0 0 0;
}

.auth-card-actions * {
  font-weight: unset;
  line-height: 1.4;
}

.app-container.flex {
  justify-content: flex-start;
  align-items: flex-start;
  gap: .2rem;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem .4rem;
  cursor: pointer;
  border-block-end: 1px dotted orange;
  margin-block-end: 1.2rem;
}

.sidebar {
  block-size: 100%;
  inline-size: fit-content;
  font-family: var(--font-tilt-neon);
  padding-inline: 1rem;
  border-inline-end: 1px solid var(--theme-color);
  background-color: var(--primary-color);
}

.sidebar-menu .menu-item {
  min-inline-size: 100%;
  padding: 0;
  cursor: pointer;
  color: #ebeaea;
  background-color: var(--accent-color);
  border-block-end: 1px solid var(--theme-color);
}

.sidebar-menu .menu-item > a > span {
  padding: 1rem 1.4rem;
}

.sidebar-menu .menu-item:first-child {
  border-block-start: 1px solid var(--theme-color);
}

.sidebar-menu .menu-item.active {
  background-color: var(--theme-color);
  position: relative;
  color: #ffffff;
}

.sidebar-menu .menu-item:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  opacity: .8;
}

.menu-item .text {
  display: none;
  margin-inline-end: 2.8rem;
}

.menu-item .flex {
  justify-content: space-between;
  gap: .8rem;
}

.menu-item .icon {
  block-size: 24px;
  inline-size: 24px;
}

.menu-item-cta {
  background-color: var(--primary-color);
  padding: .6rem .86rem;
  border-radius: 100%;
  margin: .2rem;
  cursor: pointer;
}

.menu-item-cta i {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-links .avatar {
  block-size: 42px;
  inline-size: 42px;
  cursor: pointer;
}

.main {
  inline-size: 100%;
  display: flex;
  block-size: 100vh;
}

.navbar {
  background-color: #00c4ff;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: .6rem .8rem;
  border-block-end: 1px solid #e1e1e1;
}

.app-logo {
  inline-size: 50px;
  block-size: 50px;
}

.navbar nav .nav-links.flex {
  justify-content: space-between;
  block-size: 3.2rem;
  cursor: pointer;
}
  
.navbar nav .nav-links .link > * {
  font-weight: bold;
}
  
.navbar nav .nav-links .dropdown img {
  margin-left: .5rem;
  margin-right: .5rem;
  cursor: pointer;
}

.navbar .dropdown-avatar {
  block-size: 34px;
  inline-size: 34px;
  border-radius: 6px;
}
  
.navbar nav div {
  margin-right: 0 !important;
}

.content {
  overflow: auto;
  background-color: #dbebfa;
  inline-size: 100%;
  position: relative;
}

.bottom-banner {
  background-color: #ffffff;
  justify-content: space-between;
  block-size: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  display: none;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  font-family: var(--font-tilt-neon);
  inline-size: 100%;
}

.banner-content-right .system-version-label,
.banner-content-left .logged-in-as-label {
  color: #707070;
  font-size: 14px;
}

.sections {
  padding-inline: 1rem;
  padding-block-end: 2.4rem;
  inline-size: 100%;
  display: none;
}

.section-header.flex {
  justify-content: space-between;
  border-block-end: 1px solid yellowgreen;
  padding-block: .8rem;
}

.section-header.flex .left {
  gap: .6rem;
}

.section-header.flex .left h2 {
  font-weight: 100;
  font-family: sans-serif;
  color: #474748;
}

.section-header.flex .left-icon {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: .2rem;
}

.section-header-cta.btn {
  background-color: yellowgreen;
}

.section-wrapper {
  border: 1px solid #9d9c9c;
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 20px 20px;
  margin: 0;
  background-color: rgb(221, 220, 220);
  min-block-size: 100%;
}

.form-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


.form-modal-content {
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  inline-size: 600px;

  border: 0;
  font-family: sans-serif;
  overflow-y: hidden;
}

.form-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-color);
  padding: 20px;
  
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border: 0;
}

.form-modal-footer.flex {
  justify-content: flex-end;
  gap: .4rem;
  background-color: #f9f9f9;
  padding: 14px 20px;
  
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  border: 0;
}

.form-modal-footer.flex .btn-save {
  background-color: #34bf49;
}


.form-modal-header-left.flex {
  gap:.8rem;
  justify-content: center;
  align-items: center;
}

.form-modal-footer-left.flex {
  gap:.8rem;
  justify-content: center;
  align-items: center;
}


.form-modal-header-left .title {
  font-family: sans-serif;
  color: #f3f3f3;
}

.form-modal-header-right.icon-wrapper {
  cursor: pointer;
}

.form-modal-header-right .icon {
  color: #f3f3f3;
  font-size: 20px;
}

.modal-form-body {
  inline-size: 100%;
  block-size: 600px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
}

.modal-form-body .form-section {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.modal-form-body .form-section h2 {
  color: rgb(129, 129, 129);
  font-weight: 400;
  font-size: 19px !important;
  font-family: var(--font-tilt-neon);
  margin-block-end: .6rem;
}

.modal-form-body .form-section .remove-test {
  margin-block: .6rem;
}

.modal-form-body .form-group {
  margin-bottom: 20px;
}

.modal-form-body label {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  color: rgb(67, 67, 67);
  font-size: 16px !important;
}

.modal-form-body input[type="text"],
.modal-form-body input[type="date"],
.modal-form-body input[type="file"],
.modal-form-body textarea,
.modal-form-body select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.modal-form-body input[type="text"]:focus,
.modal-form-body textarea:focus,
.modal-form-body select:focus {
  outline: none;
}

.modal-form-body button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal-form-body button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-section input[type="text"],
.form-section input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-section .btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-section .btn i {
  margin-right: 5px;
}

.form-section button:hover {
  background-color: #0056b3;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.action-buttons i {
  margin-left: 10px;
  cursor: pointer;
  color: #707070;
  font-size: 20px;
}

.total-fees {
  text-align: right;
  font-weight: bold;
}

.special-heading {
  font-weight: 300;
  margin-block-end: .6rem;
  font-family: sans-serif;
  font-size: 15px;
  color: #919191;
  text-transform: uppercase;
}

.grid.info {
  grid-template-columns: 1fr 1fr;
  margin-block-end: 4rem;
  block-size: fit-content;
  margin-block-end: 1.8rem;
}


.patient-details,
.ongoing-services,
.documents {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  block-size: 236px;
  padding: 1.2rem;
  border: 1px solid #9dd0ff;
  border-radius: .4rem;
  background-color: #cce6fe;
}

.ongoing-services {
  overflow-y: scroll;
}

.patient-details .action-buttons,
.documents .action-buttons {
  inline-size: 100%;
}

.patient-info {
  inline-size: 100%;
}

.patient-info-item {
  border-radius: 0;
  margin: 0;
  border-block-end: 1px solid #d8d8d8;
  padding-block: .4rem;
}

.patient-info-item .label {
  font-weight: normal !important; 
  font-size: 16px !important;
  color: #919191;
  font-family: sans-serif;
}

.patient-info-item .label span {
  font-weight: 400;
  color: #1da1f2;
}

.patient-info-item:last-child {
  border-block-end: none;
}

.patient-info-item .content.flex {
  justify-content: flex-start;
  gap: 20px;
  background-color: inherit;
}

.patient-info-item .content.content-major.flex {
  justify-content: flex-start;
  gap: 20px;
  inline-size: 100%; 
  justify-content: flex-start
}

.patient-info-item .content.flex .icon {
  padding: 0.6em;
  color: #ffffff;
  border-radius: 50%;
  block-size: 48px;
  inline-size: 48px;
}

.patient-info-item .content.flex .icon.icon-phone {
  background-color: #34bf49;
}
.patient-info-item .content.flex .icon.icon-contact {
  background-color: #511378;
}

.patient-info-item .content h5 {
  font-size: 14px;
  font-weight: 400;
}

.patient-info-item .content h6 {
  font-size: 14px;
  font-weight: 400;
}




.file-upload-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s;
  block-size: 100%;
  inline-size: 100%;
}

.file-upload-container:hover {
  border: 2px dashed #007BFF;
}

.file-input {
  display: none;
}

.file-label {
  background-color: #007BFF;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.selected-file {
  margin-top: 10px;
}

.service {
  display: inline-block;
  padding: 6px 14px;
  background-color: #fff;
  inline-size: fit-content;
  border-radius: 16px;
  border: 1px solid #1da1f2;
  margin-block: .2rem;
  margin-inline-end: .2rem;
}

.service.paid {
  border: 1px solid yellowgreen;
  background-color: yellowgreen;
}

.service.paid h3 {
  color: #ffffff;
}

.service-content.flex {
  justify-content: space-between;
  gap: .4rem;
}

.service-content h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #707070;
}

.service-content img {
  block-size: 20px;
  inline-size: 20px;
  cursor: pointer;
}

.progress-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.progress.green {
  background-color: yellowgreen;
}

.progress.blue {
  background-color: rgb(0, 208, 255);;
}

.progress.orange {
  background-color: orange;
}


.diagnosis-form .request-form {
  max-inline-size: 500px;
  margin: 0 auto;
}

.diagnosis-form .dropdown {
  position: relative;
  margin-block-end: 20px;
}

.diagnosis-form .dropdown-input {
  inline-size: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.diagnosis-form .dropdown-list {
  display: none;
  position: absolute;
  inline-size: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
  max-block-size: 150px;
  overflow-y: auto;
}

.diagnosis-form .dropdown-item {
  display: block;
  padding: 12px 10px;
  cursor: pointer;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  margin: .2rem .4rem;
}

.diagnosis-form .dropdown-item:hover {
  background-color: #f0f0f0;
}

.diagnosis-form table {
  inline-size: 100%;
  border-collapse: collapse;
}

.diagnosis-form th, 
.diagnosis-form td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.diagnosis-form .remove-button {
  cursor: pointer;
  color: orange;
}

.diagnosis-form .test-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diagnosis-form .total-row {
  font-weight: bold;
}





@media screen and (max-width: 600px) {
  .wbo {display: none;}
  .menu-item .text {display: none !important;}

  .menu-toggler {
    padding: .2rem;
    font-size: 10px;
    display: inline;
  }

  .menu-toggler img {
    display: none;
  }
}
